.contenedor{
    position: relative;
    width: 1000px;
    height: 564px;    
    border: 2px solid yellow; 
    background-repeat: no-repeat;
    background-image: url(../img/juegosdecell.jpg);
    background-size: 100% 100%;
}

.contenedor button.Kamehameha{
    position: absolute;    
    top:81%; 
    left:20%;
    border: none;
    background: none;
}

.contenedor button.genkidama{
    position: absolute;    
    top:81%; 
    left:40%;
    border: none;
    background: none;
}
.contenedor button.kaioken{
    position: absolute;    
    top:81%; 
    left:60%;
    border: none;
    background: none;
}

.contenedor div.mensaje{
    position: absolute;    
    top:10%; 
    left:0%;
    background-color:darkseagreen;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    font-size:larger;
}

.contenedor div.vidaJugador{
    position: absolute;    
    top:70%; 
    left:0%;
    background-color: white;
}

.contenedor h1.atadef{
    position: absolute;    
    top:70%; 
    left:35%;
    background-color:gold;
}

.contenedor .aguita {    
    background-color: transparent;
    width: 90px;
    height: 90px;
    max-width: 100%;
    max-height: 100%;       
    
}

.contenedor h1.vida-jugador{
    position: absolute;   
    top:-3%; 
    left:14%;
    background-color:aqua;
}


.contenedor h1.vida-enemigo{
    position: absolute;   
    top:-3%; 
    left:57%;
    background-color:aqua;
}

.contenedor img.goku{
    position: absolute; 
    width: 152px;
    height: 146px;
    top:35%; 
    left:5%;
}

.contenedor img.freezer{
    position: absolute; 
    width: 172px;
    height: 136px;
    top:35%; 
    left:70%;
}



#imgKameha {
    visibility: hidden;
    position: absolute;
    top:5%;
    left:19%;
}

#imgGenkidama {   
    visibility: hidden;
    position: relative;
    top:3%;
    left:21%;

}

#imgKaioken {
    visibility: hidden;
    position: relative;
    top:5%;
    left:-30%;
}


#imgKamehafreezer {
    visibility: hidden;
    position: absolute;
    top:39%;
    left:50%;
    width: auto;
    height: 170px;
}

#imgGenkidamafreezer {   
    visibility: hidden;
    position: relative;
    top:-52%;
    left:25%;
    width: auto;
    height: 210px;

}

#imgKaiokenfreezer {
    visibility: hidden;
    position: relative;
    top: -57%;
    left: -15%;
    width: auto;
    height: 350px;
}